*.aux
/*/*.aux
/*/*/*.aux
/*/*/*/*.aux

/main.bbl
/main.run.xml
/main.synctex.gz
/main.aux
/main.blg
/main.log
/main.run.xml
/main.toc
/main.bcf
/settings.json
/main.out
/Tesi D'Epiro Fausta Luisa.pdf